In [ ]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

import plotly.express as px
import plotly.graph_objs as go

import warnings
warnings.filterwarnings('ignore')

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import LatentDirichletAllocation,NMF

In [ ]:
bottomCooker = pd.read_csv('/content/drive/My Drive/ColabDataset/SentimentAndStockStudy/PreProcessDataset/BottomPressureCooker.csv')
gasStove = pd.read_csv("/content/drive/My Drive/ColabDataset/SentimentAndStockStudy/PreProcessDataset/GasStoveReview.csv")
juicerMixer = pd.read_csv("/content/drive/My Drive/ColabDataset/SentimentAndStockStudy/PreProcessDataset/JuicerMixerGrinderReviews.csv")
mixtureGrinder = pd.read_csv("/content/drive/My Drive/ColabDataset/SentimentAndStockStudy/PreProcessDataset/MixtureGrinderReview.csv")
rapidJar = pd.read_csv("/content/drive/My Drive/ColabDataset/SentimentAndStockStudy/PreProcessDataset/RapidJarJuicerMixerGrinderReviews.csv")
tawa = pd.read_csv("/content/drive/My Drive/ColabDataset/SentimentAndStockStudy/PreProcessDataset/TawaReview.csv")

butterflyMixer = pd.read_csv("/content/drive/My Drive/ColabDataset/SentimentAndStockStudy/PreProcessDataset/ButterFly_Mixer.csv")
butterflyCooker = pd.read_csv("/content/drive/My Drive/ColabDataset/SentimentAndStockStudy/PreProcessDataset/Butterfly_Cooker.csv")
butterflyKettle = pd.read_csv("/content/drive/My Drive/ColabDataset/SentimentAndStockStudy/PreProcessDataset/Butterfly_Kettle.csv")
butterflyStove = pd.read_csv("/content/drive/My Drive/ColabDataset/SentimentAndStockStudy/PreProcessDataset/Butterfly_Stove.csv")

In [ ]:
allReviews = bottomCooker

allReviews = allReviews.append(gasStove,ignore_index=True)

allReviews = allReviews.append(mixtureGrinder,ignore_index=True)

allReviews = allReviews.append(rapidJar,ignore_index=True)

allReviews = allReviews.append(tawa,ignore_index=True)

allReviews = allReviews.append(butterflyMixer,ignore_index=True)

allReviews = allReviews.append(butterflyCooker,ignore_index=True)

allReviews = allReviews.append(butterflyKettle,ignore_index=True)

allReviews = allReviews.append(butterflyStove,ignore_index=True)

In [ ]:
allReviews.head(10)

   User Rating  ... UserReviewSentiment
0          5.0  ...                 pos
1          5.0  ...                 pos
2          4.0  ...                 pos
3          4.0  ...                 pos
4          5.0  ...                 pos
5          5.0  ...                 pos
6          4.0  ...                 pos
7          5.0  ...                 pos
8          4.0  ...                 pos
9          5.0  ...                 pos

[10 rows x 16 columns]

In [ ]:
tf = TfidfVectorizer(min_df=2, max_df=0.95,lowercase=True,ngram_range=(1,1),stop_words='english')

In [ ]:
dtm = tf.fit_transform(allReviews['FinalText'].values.astype('U'))

In [ ]:
dtm.toarray().shape

(13398, 1228)

In [ ]:
lda = LatentDirichletAllocation(n_components=3,random_state=4)

In [ ]:
lda.fit(dtm)

LatentDirichletAllocation(batch_size=128, doc_topic_prior=None,
                          evaluate_every=-1, learning_decay=0.7,
                          learning_method='batch', learning_offset=10.0,
                          max_doc_update_iter=100, max_iter=10,
                          mean_change_tol=0.001, n_components=3, n_jobs=None,
                          perp_tol=0.1, random_state=4, topic_word_prior=None,
                          total_samples=1000000.0, verbose=0)

In [ ]:
tf.get_feature_names()[109]

'awsome'

In [ ]:
lda.components_.shape

(3, 1228)

In [ ]:
singletopic = lda.components_[0]

In [ ]:
topic1 = singletopic.argsort()[-20:]

In [ ]:
for j in topic1:
  print(tf.get_feature_names()[j])

item
butterfly
tipcart
good
bad
mixer
small
delivery
happy
thanks
nice
cooker
expect
use
useful
work
product
thank
excellent
flipkart

In [ ]:
for i,topic in enumerate(lda.components_):
  print(f"Topic {i}")
  print([tf.get_feature_names()[index] for index in topic.argsort()[-10:]])
  print()
  print()

Topic 0
['nice', 'cooker', 'expect', 'use', 'useful', 'work', 'product', 'thank', 'excellent', 'flipkart']


Topic 1
['buy', 'good', 'ok', 'just', 'worth', 'okay', 'gd', 'best', 'price', 'quality']


Topic 2
['kettle', 'money', 'fine', 'value', 'superb', 'fast', 'super', 'nice', 'product', 'good']

In [ ]:
topic_result = lda.transform(dtm)

In [ ]:
#Topic 0 = Quality
# 1 = Subjective Review
# 2 = Value for money

In [ ]:
topic_result[-2]

array([0.16672492, 0.16672197, 0.66655311])

In [ ]:
nmf = NMF(n_components=3,random_state=3)

In [ ]:
nmf.fit(dtm)

NMF(alpha=0.0, beta_loss='frobenius', init=None, l1_ratio=0.0, max_iter=200,
    n_components=3, random_state=3, shuffle=False, solver='cd', tol=0.0001,
    verbose=0)

In [ ]:
nmf.components_.shape

(3, 1228)

In [ ]:
for i,topic in enumerate(nmf.components_):
  print(f"Topic {i}")
  print([tf.get_feature_names()[index] for index in topic.argsort()[-15:]])
  print()
  print()

Topic 0
['item', 'mixer', 'look', 'delivery', 'expect', 'use', 'product', 'working', 'work', 'price', 'cooker', 'fast', 'kettle', 'quality', 'good']


Topic 1
['working', 'worth', 'product', 'cooker', 'look', 'reached', 'deliveryquality', 'goodthanqu', 'tipcart', 'mixer', 'like', 'flipkart', 'thank', 'quality', 'nice']


Topic 2
['best', 'excellent', 'expect', 'use', 'price', 'heat', 'awesome', 'fast', 'work', 'superb', 'thank', 'flipkart', 'fine', 'super', 'product']

In [ ]:
topic_nmf = nmf.transform(dtm)

In [ ]:
allReviews['Topic']  = topic_nmf.argmax(axis=1)

In [ ]:
labelTopic = {0:'Overall Good Product',
 1:'Quality',
 2:'Value for Money'}

allReviews['TopicLabel'] = allReviews['Topic'].map(labelTopic)

In [ ]:
allReviews.head(10)

   User Rating  ...            TopicLabel
0          5.0  ...       Value for Money
1          5.0  ...       Value for Money
2          4.0  ...       Value for Money
3          4.0  ...               Quality
4          5.0  ...               Quality
5          5.0  ...  Overall Good Product
6          4.0  ...               Quality
7          5.0  ...       Value for Money
8          4.0  ...               Quality
9          5.0  ...  Overall Good Product

[10 rows x 18 columns]

In [ ]:
allReviews.to_csv('/content/drive/My Drive/ColabDataset/SentimentAndStockStudy/PreProcessDataset/AllReviews.csv',index=False)